@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Montserrat";
}
html{
    scroll-behavior: smooth;
}


.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

